html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  width: 71%;
  margin: 0 auto; }

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px; }

body {
  font-family: 'Lato';
  font-style: normal;
  font-size: 16px;
  line-height: 19px; }

@media (max-width: 1439px) {
  .container {
    width: 96%; } }
@media (max-width: 767px) {
  .container {
    width: 92%; } }
.header {
  background-color: #222222;
  min-height: 50px;
  display: flex; }

.header__wrp {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header__logo-form-wrp {
  display: flex; }

.header__search {
  margin-left: 40px;
  margin-top: 5px;
  display: flex; }

.header__search-form {
  display: flex; }

.header__search-icon {
  fill: #E8E8E8; }

.header__search-button {
  background-color: transparent;
  border: none; }

.header__search-form {
  display: none; }

.header__search-button:hover + .header__search-form,
.header__search-button:focus + .header__search-form,
.header__search-button:active + .header__search-form {
  display: block; }

.header__search-input {
  margin-left: 15px;
  padding: 7px 25px;
  border: none;
  outline: 1px solid black;
  cursor: pointer; }

.header__search-input:hover,
.header__search-input:focus,
.header__search-input:active {
  display: block;
  outline: 1px solid #E05C6E; }

.header__menu-icon,
.header__link-profile,
.header__link-basket {
  fill: #FFFFFF; }

.header__menu-icon:hover,
.header__menu-icon:focus,
.header__link-profile:hover,
.header__link-profile:focus,
.header__link-basket:hover,
.header__link-basket:focus {
  fill: #F16D7F; }

.header__menu-icon:active,
.header__link-profile:active,
.header__link-basket:active {
  fill: #E05C6E; }

.header__link {
  margin-left: 33px;
  text-decoration: none; }

.header__menu-btn {
  border: none;
  background-color: transparent;
  position: relative;
  cursor: pointer; }

.header__menu-btn:hover + .header__nav,
.header__menu-btn:focus + .header__nav,
.header__menu-btn:active + .header__nav {
  display: block; }

.header__nav {
  display: none;
  position: absolute;
  background-color: white;
  top: 50px;
  height: 765px;
  width: 232px;
  right: 0; }

.header__nav-list {
  padding: 0;
  margin: 0;
  list-style: none; }

.header__nav-title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  color: #000;
  padding-left: 34px;
  margin-top: 37px;
  margin-bottom: 24px;
  position: relative; }

.header__nav-exit {
  position: absolute;
  right: 16px;
  top: 16px;
  background-color: white;
  border: none;
  fill: #6F6E6E;
  cursor: pointer; }

.header__nav-exit + .header__nav {
  display: none; }

@media (max-width: 1439px) {
  .header__logo-form-wrp {
    margin-left: 16px; } }
@media (max-width: 767px) {
  .header__logo-form-wrp {
    margin: 0; }

  .header__link {
    display: none; }

  .header__wrp {
    justify-content: space-between; } }
.nav-sub-item__list {
  margin-bottom: 20px; }

.nav-sub-item__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding-left: 54px;
  margin-top: 12px;
  margin-bottom: 12px; }

.nav-sub-item__link {
  text-decoration: none;
  color: #6F6E6E; }

.nav-sub-item__title {
  text-transform: uppercase;
  color: #F16D7F;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding-left: 33px; }

.brand {
  display: flex;
  margin-bottom: 63px; }
  @media (max-width: 1439px) {
    .brand {
      margin-bottom: 20px; } }
  @media (max-width: 767px) {
    .brand {
      margin-bottom: 64px; } }

.brand__title-wrp {
  flex-grow: 1;
  background-color: #F1E4E6;
  display: flex;
  align-items: center;
  padding-left: 92px; }
  @media (max-width: 1439px) {
    .brand__title-wrp {
      padding-left: 62px; } }
  @media (max-width: 767px) {
    .brand__title-wrp {
      min-height: 363px;
      justify-content: center; } }

.brand__img {
  object-fit: contain;
  background-color: #F1E4E6; }
  @media (max-width: 1439px) {
    .brand__img {
      height: 367px;
      width: 50%; } }
  @media (max-width: 767px) {
    .brand__img {
      display: none; } }

.brand__title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  position: relative; }
  @media (max-width: 1439px) {
    .brand__title {
      font-size: 44px;
      line-height: 52px;
      font-weight: 900;
      font-style: normal; } }
  @media (max-width: 767px) {
    .brand__title {
      font-size: 38px;
      line-height: 45px;
      font-weight: 900;
      font-style: normal; } }

.brand__title::before {
  background: #F16D7F;
  width: 12px;
  height: 100%;
  left: -26px;
  content: '';
  position: absolute; }

.brand__subtitle {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  font-style: normal;
  display: block; }
  @media (max-width: 1439px) {
    .brand__subtitle {
      font-size: 24px;
      line-height: 28px;
      font-weight: 700;
      font-style: normal; } }
  @media (max-width: 767px) {
    .brand__subtitle {
      font-size: 20px;
      line-height: 24px;
      font-weight: 700;
      font-style: normal; } }

.brand__subtitle-pink {
  color: #F09BA7; }

.sales {
  text-transform: uppercase; }

.sales__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.sales__item {
  width: 31%;
  min-height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  flex-direction: column;
  background-size: cover; }
  @media (max-width: 1439px) {
    .sales__item {
      min-height: 161px; } }
  @media (max-width: 767px) {
    .sales__item {
      width: 100%;
      min-height: 249px;
      margin-bottom: 30px; } }

.sales__item-woman {
  background-image: url(../img/woman-sales.jpg); }

.sales__item-man {
  background-image: url(../img/man-sales.jpg); }

.sales__item-kids {
  background-image: url(../img/kids-sales.jpg); }

.sales__item-accessories {
  background-image: url(../img/accessories-sales.jpg);
  width: 100%;
  min-height: 180px;
  margin-top: 30px;
  margin-bottom: 96px; }
  @media (max-width: 1439px) {
    .sales__item-accessories {
      min-height: 116px;
      margin-bottom: 155px;
      margin-top: 20px; } }
  @media (max-width: 767px) {
    .sales__item-accessories {
      min-height: 111px;
      margin-bottom: 64px;
      margin-top: 0; } }

.sales__item-text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #EAE9E9; }

.sales__item-title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  color: #F16D7F; }

.products__title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 6px; }
  @media (max-width: 1439px) {
    .products__title {
      margin-bottom: 3px; } }

.products__subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  color: #9F9F9F;
  margin-bottom: 48px; }
  @media (max-width: 1439px) {
    .products__subtitle {
      margin-bottom: 72px; } }
  @media (max-width: 767px) {
    .products__subtitle {
      margin-bottom: 64px; } }

.products__catalog {
  display: flex;
  flex-direction: column; }

.products__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 48px;
  justify-content: space-evenly; }
  @media (max-width: 1439px) {
    .products__list {
      margin-bottom: 0; } }
  @media (max-width: 767px) {
    .products__list {
      margin-bottom: 24px; } }

.products__item {
  width: 360px;
  margin-bottom: 30px; }
  @media (max-width: 767px) {
    .products__item {
      width: 359px; } }

.products__item-title {
  text-transform: uppercase;
  margin-bottom: 12px;
  color: #000;
  font-size: 13px;
  line-height: 16px; }

.products__item-text {
  margin-bottom: 18px;
  color: #5D5D5D;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px; }

.products__item-price {
  color: #F16D7F; }

.products__item-wrp {
  background-color: #F8F8F8; }

.products__item-info {
  padding: 25px 30px 20px 18px; }

.products__cart-wrp {
  position: relative; }

.products__cart-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: none; }

.products__item:hover .products__cart-overlay,
.products__item:focus .products__cart-overlay {
  display: block; }

.products__cart-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 13px 16px 13px 50px;
  color: white;
  background-color: transparent;
  border: 1px solid white; }

.products__cart-button::before {
  background-image: url(../img/cart.svg);
  left: -26px;
  content: '';
  position: absolute;
  width: 26px;
  height: 26px;
  left: 15px;
  top: 8px; }

.products__cart-button:hover,
.products__cart-button:focus {
  color: #F16D7F;
  border: 1px solid #F16D7F; }

.products__cart-button:active {
  color: #E05C6E;
  border: 1px solid #E05C6E; }

.products__cart-text {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px; }

.products__link {
  text-decoration: none; }

.products__catalog-link {
  border: 1px solid #FF6A6A;
  padding: 15px 38px;
  text-decoration: none;
  color: #F26376;
  width: 211px;
  align-self: center;
  text-align: center; }

.products__catalog-link:hover,
.products__catalog-link:focus {
  color: #FFFFFF;
  background-color: #FF6A6A; }

.products__catalog-link:active {
  background-color: #FF6A6A;
  color: blue; }

.advantages {
  background-color: #222224;
  margin-top: 95px; }
  @media (max-width: 1439px) {
    .advantages {
      margin-top: 65px; } }
  @media (max-width: 767px) {
    .advantages {
      margin-top: 96px; } }

.advantages__list {
  display: flex;
  padding: 104px 0;
  text-align: center;
  justify-content: space-between; }
  @media (max-width: 1439px) {
    .advantages__list {
      align-items: center;
      flex-direction: column;
      padding: 48px 0 16px; } }
  @media (max-width: 767px) {
    .advantages__list {
      padding-bottom: 33px; } }

.advantages__item {
  width: 360px; }
  @media (max-width: 1439px) {
    .advantages__item {
      padding-bottom: 48px; } }

.advantages__item-img {
  margin-bottom: 24px; }

.advantages__item-title {
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
  font-weight: 400; }

.advantages__item-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #FBFBFB; }

.footer__feedback {
  background-image: url(../img/footer-background.jpg);
  background-size: cover; }

.footer__feedback-wrp {
  display: flex; }
  @media (max-width: 1439px) {
    .footer__feedback-wrp {
      flex-direction: column;
      align-items: center; } }

.footer__feedback-review {
  flex-grow: 1;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.footer__form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-top: 120px; }
  @media (max-width: 1439px) {
    .footer__form {
      margin-top: 48px; } }
  @media (max-width: 767px) {
    .footer__form {
      margin-top: 59px; } }

.footer__feedback-img {
  margin-top: 86px; }
  @media (max-width: 1439px) {
    .footer__feedback-img {
      margin-top: 48px; } }

.footer__feedback-text {
  margin-top: 30px;
  padding-bottom: 126px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #222224; }
  @media (max-width: 1439px) {
    .footer__feedback-text {
      padding-bottom: 48px; } }
  @media (max-width: 767px) {
    .footer__feedback-text {
      padding-bottom: 60px;
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
      font-style: normal; } }

.footer__feedback-caption {
  font-style: italic; }

.footer__form-title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: #222224;
  align-self: flex-end; }
  @media (max-width: 1439px) {
    .footer__form-title {
      margin-left: 0;
      margin-top: 0;
      font-size: 18px;
      line-height: 27px;
      font-weight: 400;
      font-style: normal; } }
  @media (max-width: 767px) {
    .footer__form-title {
      font-size: 14px;
      line-height: 21px;
      font-weight: 400;
      font-style: normal; } }

.footer__form-subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  text-align: center; }
  @media (max-width: 1439px) {
    .footer__form-subtitle {
      font-size: 24px;
      line-height: 37px;
      font-weight: 700;
      font-style: normal; } }

.footer__form-wrp {
  display: flex;
  align-items: flex-end;
  align-self: flex-end; }
  @media (max-width: 1439px) {
    .footer__form-wrp {
      margin-left: 0;
      margin-bottom: 140px; } }
  @media (max-width: 767px) {
    .footer__form-wrp {
      margin-bottom: 110px; } }

.footer__form-email:hover,
.footer__form-email:focus {
  border: 2px solid #F16D7F; }

.footer__form-email {
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 7px 66px 7px 21px;
  margin-top: 32px; }
  @media (max-width: 1439px) {
    .footer__form-email {
      margin-top: 27px; } }
  @media (max-width: 767px) {
    .footer__form-email {
      margin-top: 22px; } }

.footer__form-button {
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 7px 15px;
  background-color: #F16D7F;
  color: #FFFFFF; }

.footer__form-button:hover,
.footer__form-button:focus {
  background-color: #E05C6E;
  border: 1px solid #E05C6E;
  cursor: pointer; }

.footer__form-button:active {
  background-color: #E05C6E;
  color: blue; }

.footer__socials {
  background-color: #222224; }

.footer__socials-wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px; }
  @media (max-width: 767px) {
    .footer__socials-wrp {
      flex-direction: column-reverse; } }

.footer__socials-copyright {
  font-weight: 400;
  text-align: left;
  color: #FBFBFB; }
  @media (max-width: 767px) {
    .footer__socials-copyright {
      margin-top: 40px;
      margin-bottom: 9px; } }

.footer__socials-link {
  display: flex;
  justify-content: space-around;
  width: 148px; }
  @media (max-width: 767px) {
    .footer__socials-link {
      margin-top: 43px; } }

.footer__socials-item {
  width: 32px;
  height: 32px;
  background-color: #FFFFFF;
  position: relative; }

.footer__socials-item:hover,
.footer__socials-item:focus {
  background-color: #F16D7F;
  cursor: pointer; }

.footer__socials-facebook,
.footer__socials-instagram,
.footer__socials-pinterest,
.footer__socials-twitter {
  fill: #000000;
  position: absolute;
  top: 8px;
  left: 8px; }

.footer__socials-facebook {
  left: 12px; }

.footer__socials-facebook:hover,
.footer__socials-facebook:focus,
.footer__socials-instagram:hover,
.footer__socials-instagram:focus,
.footer__socials-pinterest:hover,
.footer__socials-pinterest:focus,
.footer__socials-twitter:hover,
.footer__socials-twitter:focus {
  fill: #FFFFFF; }

.registration__title {
  background-color: #F8F3F4;
  min-height: 148px; }

.registration__title-text {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #F16D7F;
  padding-top: 60px; }
  @media (max-width: 767px) {
    .registration__title-text {
      text-align: center; } }

.registration {
  display: flex;
  padding-top: 64px;
  padding-bottom: 113px; }
  @media (max-width: 1439px) {
    .registration {
      padding-top: 40px;
      padding-bottom: 96px; } }
  @media (max-width: 767px) {
    .registration {
      flex-direction: column;
      padding-bottom: 100px; } }

.registration__form {
  width: 360px;
  padding-right: 128px; }
  @media (max-width: 1439px) {
    .registration__form {
      padding-right: 40px; } }

.registration__name,
.registration__login {
  display: block; }

.registration__subtitle {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: #222222; }

.registration__name-input,
.registration__login-input {
  width: 345px;
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #A4A4A4; }

.registration__name-input::placeholder,
.registration__login-input::placeholder {
  color: #B1B1B1;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px; }

.registration__name-input:hover,
.registration__login-input:hover,
.registration__name-input:focus,
.registration__login-input:focus {
  border: 1px solid #F16D7F; }

.registration__name-input:active,
.registration__login-input:active {
  border: 1px solid #E05C6E;
  outline: none; }

.registration__sex {
  display: flex;
  align-items: center;
  margin-top: 31px;
  margin-bottom: 33px; }

.registration__sex-label {
  font-size: 11px;
  font-weight: 300;
  line-height: 13px;
  color: #000;
  margin-left: 10px;
  margin-right: 20px; }

.registration__login-text {
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  color: #B1B1B1;
  margin-top: 15px; }

.registration__login-btn {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  height: 50px;
  background-color: #F16D7F;
  width: 50%;
  justify-content: space-around;
  color: #FFFFFF;
  border: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  margin-top: 39px;
  cursor: pointer; }

.registration__login-btn:hover,
.registration__login-btn:focus {
  background-color: #E05C6E; }

.registration__login-btn:active {
  color: blue; }

.registration__login-img {
  fill: #FFFFFF; }

.registration__login-btn:active .registration__login-img {
  fill: blue; }

.registration__perks {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  color: #000; }
  @media (max-width: 1439px) {
    .registration__perks {
      font-size: 16px;
      line-height: 19px;
      font-weight: 300;
      font-style: normal; } }

.registration__perks-title {
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 22px; }
  @media (max-width: 767px) {
    .registration__perks-title {
      margin-top: 40px; } }

.registration__perks-subtitle {
  margin-bottom: 22px; }

.registration__perks-item {
  margin-bottom: 16px; }

.registration__perks-text {
  position: relative;
  margin-left: 43px; }

.registration__perks-text::before {
  position: absolute;
  content: '';
  background-image: url(../img/tick.svg);
  width: 20px;
  height: 16px;
  left: -43px;
  top: 8px; }

.cart__title {
  background-color: #F8F3F4;
  min-height: 148px; }

.cart__title-text {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #F16D7F;
  padding-top: 60px; }
  @media (max-width: 767px) {
    .cart__title-text {
      text-align: center; } }

.product__demo {
  background: #F7F7F7;
  height: 777px; }

.carousel-item-img {
  height: 724px;
  object-fit: contain; }

.product__header {
  background-color: #F8F3F4;
  min-height: 148px; }

.product__header-wrp {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 767px) {
    .product__header-wrp {
      flex-direction: column;
      align-items: center; } }

.product__title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #F16D7F;
  padding-top: 60px; }
  @media (max-width: 767px) {
    .product__title {
      text-align: center;
      padding-top: 24px; } }

.product__subtitle {
  text-transform: uppercase;
  padding-top: 65px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #636363; }
  @media (max-width: 767px) {
    .product__subtitle {
      padding-top: 0;
      margin-top: 32px; } }

.product__subtitle-caption {
  color: #f16d7f;
  font-weight: 700; }

.product__cart {
  text-align: -webkit-center;
  border: 1px solid #EAEAEA;
  margin-top: -55px;
  background: #FFFFFF; }
  @media (max-width: 1439px) {
    .product__cart {
      border: none;
      margin-top: 0; } }

.product__cart-wrp {
  width: 641px; }
  @media (max-width: 1439px) {
    .product__cart-wrp {
      width: 555px; } }
  @media (max-width: 767px) {
    .product__cart-wrp {
      width: 100%; } }

.product__cart-title {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #F16D7F;
  margin-top: 64px;
  position: relative; }

.product__cart-title::after {
  position: absolute;
  content: '';
  background: #EF5B70;
  width: 63px;
  height: 3px;
  top: 30px;
  left: 45%; }

.product__cart-name {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 21px;
  font-weight: 300;
  font-style: normal;
  color: #4D4D4D;
  margin-top: 27px; }

.product__cart-desc {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #5E5E5E;
  margin-top: 48px; }
  @media (max-width: 767px) {
    .product__cart-desc {
      font-size: 14px;
      line-height: 20px;
      font-weight: 300;
      font-style: normal;
      margin-top: 32px; } }

.product__cart-price {
  color: #EF5B70;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  margin-top: 32px;
  margin-bottom: 65px; }
  @media (max-width: 767px) {
    .product__cart-price {
      margin-bottom: 32px; } }

.products__cart-options {
  display: flex;
  justify-content: center;
  margin-top: 65px;
  margin-bottom: 48px; }
  @media (max-width: 767px) {
    .products__cart-options {
      margin-top: 48px;
      margin-bottom: 64px; } }

.btn-transparent {
  color: #6F6E6E;
  background-color: transparent;
  border-color: transparent;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal; }
  @media (max-width: 767px) {
    .btn-transparent {
      font-size: 10px;
      line-height: 12px;
      font-weight: 400;
      font-style: normal; } }

.btn-transparent:hover {
  color: #F16D7F;
  background-color: transparent;
  border-color: transparent; }

.btn-check:focus + .btn-transparent, .btn-transparent:focus {
  color: #F16D7F;
  background-color: transparent;
  border-color: transparent;
  box-shadow: 0 0 0 0.25rem #FFFFFF; }

.btn-check:checked + .btn-transparent, .btn-check:active + .btn-transparent, .btn-transparent:active, .btn-transparent.active, .show > .btn-transparent.dropdown-toggle {
  color: #F16D7F;
  background-color: transparent;
  border-color: transparent; }

.btn-check:checked + .btn-transparent:focus, .btn-check:active + .btn-transparent:focus, .btn-transparent:active:focus, .btn-transparent.active:focus, .show > .btn-transparent.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem #FFFFFF; }

.btn-transparent:disabled, .btn-transparent.disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d; }

.product__cart-button {
  padding: 14px 56px 14px 72px;
  border: 1px solid #F26376;
  background-color: #FFFFFF;
  margin-bottom: 65px;
  position: relative; }

.product__cart-button::before {
  background-image: url(../img/cart-pink.svg);
  left: -26px;
  content: '';
  position: absolute;
  width: 26px;
  height: 26px;
  left: 25px;
  top: 10px; }

.product__cart-button-text {
  color: #F26376;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal; }

.product__catalog {
  display: flex;
  flex-direction: column;
  padding-top: 128px; }
  @media (max-width: 1439px) {
    .product__catalog {
      border-top: 1px solid #EAEAEA; } }
  @media (max-width: 767px) {
    .product__catalog {
      padding-top: 64px; } }

.product__catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 128px;
  justify-content: space-evenly; }
  @media (max-width: 767px) {
    .product__catalog-list {
      margin-bottom: 64px; } }

.product__catalog-item {
  width: 360px;
  margin-bottom: 30px; }
  @media (max-width: 767px) {
    .product__catalog-item {
      width: 359px; } }

@media (max-width: 1439px) {
  .product__catalog-item-last {
    display: none; } }

.product__catalog-item-title {
  text-transform: uppercase;
  margin-bottom: 12px;
  color: #000;
  font-size: 13px;
  line-height: 16px; }

.product__catalog-item-text {
  margin-bottom: 18px;
  color: #5D5D5D;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px; }

.product__catalog-item-price {
  color: #F16D7F; }

.product__catalog-item-wrp {
  background-color: #F8F8F8; }

.product__catalog-item-info {
  padding: 25px 30px 20px 18px; }

.product__catalog-cart-wrp {
  position: relative; }

.product__catalog-cart-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: none; }

.product__catalog-item:hover .product__catalog-cart-overlay,
.producs__catalog-item:focus .product__catalog-cart-overlay {
  display: block; }

.product__catalog-cart-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 13px 16px 13px 50px;
  color: white;
  background-color: transparent;
  border: 1px solid white; }

.product__catalog-cart-button::before {
  background-image: url(../img/cart.svg);
  left: -26px;
  content: '';
  position: absolute;
  width: 26px;
  height: 26px;
  left: 15px;
  top: 8px; }

.product__catalog-cart-button:hover,
.product__catalog-cart-button:focus {
  color: #F16D7F;
  border: 1px solid #F16D7F; }

.product__catalog-cart-button:active {
  color: #E05C6E;
  border: 1px solid #E05C6E; }

.product__catalog-cart-text {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px; }

.product__catalog-link {
  text-decoration: none; }

/*# sourceMappingURL=style.css.map */
