.advantages {
    background-color: #222224;
    margin-top: 95px;

    @include tablet {
        margin-top: 65px;
    }

    @include mobile {
        margin-top: 96px;
    }
}

.advantages__list {
    display: flex;
    padding: 104px 0;
    text-align: center;
    justify-content: space-between;

    @include tablet {
        align-items: center;
        flex-direction: column;
        padding: 48px 0 16px;
    }
    
    @include mobile {
        padding-bottom: 33px;
    }
}

.advantages__item {
    width: 360px;

    @include tablet {
        padding-bottom: 48px;
    }
}

.advantages__item-img {
    margin-bottom: 24px;
}

.advantages__item-title {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
    font-weight: 400;
}

.advantages__item-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #FBFBFB;
}