.header {
    background-color: #222222;
    min-height: 50px;
    display: flex;
}

.header__wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-form-wrp {
    display: flex;
}

.header__search {
    margin-left: 40px;
    margin-top: 5px;
    display: flex;
}

.header__search-form {
    display: flex;
}

.header__search-icon {
    fill: #E8E8E8;
}

.header__search-button {
    background-color: transparent;
    border: none;
}

.header__search-form {
    display: none;
}

.header__search-button:hover + .header__search-form,
.header__search-button:focus + .header__search-form,
.header__search-button:active + .header__search-form {
    display: block;
}

.header__search-input {
    margin-left: 15px;
    padding: 7px 25px;
    border: none;
    outline: 1px solid black;
    cursor: pointer;
}

.header__search-input:hover,
.header__search-input:focus,
.header__search-input:active {
    display: block;
    outline: 1px solid #E05C6E;
}

.header__menu-icon,
.header__link-profile,
.header__link-basket {
    fill: #FFFFFF;
}

.header__menu-icon:hover,
.header__menu-icon:focus,
.header__link-profile:hover,
.header__link-profile:focus,
.header__link-basket:hover,
.header__link-basket:focus {
    fill: #F16D7F;
}

.header__menu-icon:active,
.header__link-profile:active,
.header__link-basket:active {
    fill: #E05C6E;
}

.header__link {
    margin-left: 33px;
    text-decoration: none;
    background-color: #222222;
    border: none;
}

.header__menu-btn {
    border: none;
    background-color: transparent; 
    position: relative;
    cursor: pointer;
}

.header__menu-btn:hover + .header__nav,
.header__menu-btn:focus + .header__nav,
.header__menu-btn:active + .header__nav {
    display: block;
}

.header__nav {
    display: none;
    position: absolute;
    background-color: white;
    top: 50px;
    height: 765px;
    width: 232px;
    right: 0;
}

.header__nav-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.header__nav-title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    color: #000;
    padding-left: 34px;
    margin-top: 37px;
    margin-bottom: 24px;
    position: relative;
}

.header__nav-exit {
    position: absolute;
    right: 16px;
    top: 16px;
    background-color: white;
    border: none;
    fill: #6F6E6E;
    cursor: pointer;
}

.header__nav-exit + .header__nav {
    display: none;
}

@media (max-width: $tablet-width) {
    .header__logo-form-wrp {
        margin-left: 16px;
    }
}

@media (max-width: $mobile-width) {
    .header__logo-form-wrp {
        margin: 0;
    }

    .header__link {
        display: none;
    }

    .header__wrp {
        justify-content: space-between;
    }
}

.header__menu-wrp {
    position: relative;
    display: flex;
}

.header__basket {
    position: absolute;
    background-color: #FFFFFF;
    font-weight: 300;
    font-size: 12px;
    width: 500px;
    right: 0px;
    top: 40px;
}

.header__basket-title {
    display: flex;
}

.header__basket-item {
    flex-grow: 1;
    width: 25%;
}

.basketRow {
    display: flex;
}

.basketRow__item {
    width: 25%;
}

.header__basket-total {
    display: flex;
    justify-content: flex-end;
    margin-right: 8px;
}

.header__link-basket-value {
    background-color:#F16D7F;
    position: absolute;
    color: white;
    @include font (12px, 14px, 400);
    padding: 1px 5px;
    border-radius: 10px;
    bottom: 25px;
    left: 165px;
}