.sales {
    text-transform: uppercase;
}

.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sales__item {
    width: 31%;
    min-height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    flex-direction: column;
    background-size: cover;
    background-color: #645C5C;

    @include tablet {
        min-height: 161px;
    }

    @include mobile {
        width: 100%;
        min-height: 249px;
        margin-bottom: 30px;
    }
}

.sales__item-woman {
    background-image: url(../img/woman-sales.jpg);
}

.sales__item-man {
    background-image: url(../img/man-sales.jpg);
}

.sales__item-kids {
    background-image: url(../img/kids-sales.jpg);
}

.sales__item-accessories {
    background-image: url(../img/accessories-sales.jpg);
    width: 100%;
    min-height: 180px;
    margin-top: 30px;
    margin-bottom: 96px;

    @include tablet {
        min-height: 116px;
        margin-bottom: 155px;
        margin-top: 20px;
    }

    @include mobile {
        min-height: 111px;
        margin-bottom: 64px;
        margin-top: 0;
    }
}

.sales__item-text {
    @include font (16px, 19px, 400);
    color: #EAE9E9;
}

.sales__item-title {
    @include font (24px, 29px, 700);
    text-align: center;
    color: #F16D7F;
}